	<h4>Classes</h4>
	{{#each classes}}
	<div class="col_4">
	<h4>{{title}}</h4>
	<p>{{description}}</p>
	<p>{{instructor}}</p>
	<a  class="button" href="/classes/{{_id}}/details">View Details</a>
	</div>
	{{/each}}
	