<h1>Hello and welcome to Elearning portal</h1>
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Class ID</th>
      <th>Class Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>